@mobile-breakpoint: 576px;

@media print {
    #_hj_feedback_container {
        display: none !important;
    }
}

.avtaleparter {
    &__content2 {
        margin: 1rem 0;
        padding-left: 6px;

        &--farge-gronn {
            border-left: 3px solid #9bd0b0;
        }

        &--farge-graa {
            border-left: 3px solid #e0dae7;
        }

        &--farge-lysblaa {
            border-left: 3px solid #cce1f3;
        }
    }

    &__navn {
        &--ikkeFyltUt {
            /* blir kun rendret av IE. erstattning for fit-content som ikke støttes */
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                display: inline-block;
            }

            background-color: #ffe5c2;
            width: -moz-fit-content;
            width: fit-content;
            padding-left: 1rem;
            padding-right: 1rem;
            border-radius: 3px;
            text-align: center;
            border: 1px solid black;
        }
    }
}
