.mål {
    &__label {
        padding-top: 1rem;
        padding-bottom: 0.25rem;
    }

    &__etikettInfo {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
