.visning-tilskuddsperioder {
    &__header {
        margin-bottom: 2rem;
    }

    &__melding-arbeidsgiver,
    &__melding-arbeidsgiver-text {
        margin: 1rem 0;
    }

    &__info-redusert-prosentsats {
        margin-bottom: 1rem;
    }
}
