.videomodal {
    &__modal {
        max-width: 50rem;
        padding: 3rem 2rem;
    }

    &__tittel {
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-around;
    }
}

video::-webkit-media-controls-timeline {
    align-self: center;
    width: calc(100% - 64px);
}
