@import '~nav-frontend-core/less/_variabler';

.annuller-avtale-modal {
    &__grunner-og-annet {
        display: flex;
        justify-content: space-between;
    }

    &__pakrevd-text-area {
        margin-top: 3rem;
        min-height: 14.5rem;
        width: 14rem;
    }
}
