@import (reference) '../../tiltak_variabler.less';

.infomodal {
    .navds-modal__header {
        padding-bottom: 0;
        padding-top: var(--a-spacing-2);
    }

    &__varsel {
        position: absolute;
        left: calc(50% - 40px);
        top: -40px;
    }

    &__modal-container {
        max-height: calc(100% - 90px);
        padding: 1rem 1rem;
        max-width: @screen-lg;
        min-width: 20rem;
        overflow: visible;
    }

    &__knapper-container {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;

        & > :last-child {
            align-self: end;
        }
    }
}
