@import '~nav-frontend-core/less/_variabler';

.kopierlenke {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;

  &__modal {
      max-width: 46rem;
      padding: 4rem 1.5rem;
  }

  &__innholdstittel {
    margin: 1rem 0 2rem 0;
  }

  &__undertittel {
    margin-top: 2rem;
  }

  &__lenke {
    width: 100%;
    margin-bottom: 1rem;
    word-break: break-all;
  }

  &__lenkedeling {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: @screen-sm-min) {
  .kopierlenke {
    margin: 0 auto;
    max-width: @screen-sm-min;

    &__lenke {
      margin-bottom: 0.7rem;
        margin-right: 1rem;
        font-size: 1.2rem;
    }

    &__lenkedeling {
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
    }

    &__undertittel {
        width: 25rem;
    }

    &__modal {
        padding: 4rem 3rem;
    }
  }
}