@import (reference) "../../tiltak_variabler.less";

@mobile-breakpoint: 768px;
@button-height: 46px;

.tilskuddsperiodeInfoModal {
  &__modal-container {
    padding: 1rem 1rem;
    overflow: visible;
  }

  &__innhold {
    margin: 1.5rem 0 2rem 0;
  }

  &__tittel {
    text-align: center;
    padding: 0 1rem 1rem 1rem;
  }

  &__topIconContainer {
    display: flex;
    justify-content: center;
    margin: -3.8rem auto 0 2.5rem;
    @media (max-height: 710px) {
      display: none;
    }
  }

  @media (min-width: @mobile-breakpoint) {    
    &__varselTekst {
      padding: 0 1.5rem;
    }
  }
}
