@import '~nav-frontend-core/less/_variabler';

.versjon {
    &__modal {
        width: 90%;
        padding: 2rem 1.5rem 4rem 1.5rem;
        @media (min-width: @screen-sm-min) {
            padding: 2rem 3rem 4rem 3rem;
            width: 80%;
            max-width: unset;
        }
    }
}
