@import '~nav-frontend-core/less/_variabler';

.vesjon {
    &__modal {
        max-width: 50rem;
        padding: 4rem 1.5rem;
    }

    &__innholdstittel {
        margin: 1rem 0 2rem 0;
    }
}

@media (min-width: @screen-sm-min) {
    .versjon {
        &__modal {
            padding: 4rem 3rem;
        }
    }
}
