@import '~nav-frontend-core/less/_variabler';

.versjon {
    &__modal {
        max-width: 80%;
        padding: 4rem 1.5rem;
    }

    &__innholdstittel {
        margin-top: -1rem !important;
        margin-bottom: 1rem !important;
    }
}

@media (min-width: @screen-sm-min) {
    .versjon {
        &__modal {
            padding: 4rem 3rem;
            width: 80% !important;
            max-width: 80% !important;
        }
        &__innholdstittel {
            margin-top: 1rem;
            margin-bottom: 2rem !important;
        }
    }
}
