.desktop {
    width: 100%;
    max-width: 72rem;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    min-width: 48rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.innhold {
    max-width: 40rem;
    width: 100%;
}
