.inkluderingstilskuddSteg {
  &__tittel {
    display: flex;
    margin-bottom: 0.5rem;
  }

  &__tekst {
    display: flex;
    margin-bottom: 0.5rem;
  }

  &__textarea {
    display: flex;
    margin-bottom: 0.5rem;
  }

  &__overskrift {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  &__datepicker {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}