@import (reference) '../../tiltak_variabler.less';

.ingenAvtaler {
    &__tekst {
        text-align: center;
    }

    &__ingenavtalerveileder {
        height: 15rem;
        padding-top: 2rem;
        padding-left: 1rem;
    }
}
