.nesteforrige {
    display: flex;
    flex-direction: row;
    top: 0;
    justify-content: space-between;
    &__nestealene {
        display: flex;
        justify-content: flex-end;
    }
    @media print {
        display: none;
    }
}
