.nesteforrige {
    display: flex;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
    &__nesteknapp {
        margin-left: auto;
    }

    &__chevron {
        display: inline-block;
        align-items: center;
    }

    @media print {
        display: none;
    }
}
