@import '~nav-frontend-core/less/_variabler';

.avtaleoversikt {
    display: flex;
    flex-direction: column;

    &__ingen_avtaler {
        text-align: center;
        font-style: italic;
    }

    &__topp {
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;

        &__tittel {
            margin-bottom: 1rem;
        }

        &__knapp {
            margin-top: 2rem;
        }
    }

    &__lenker {
        margin: 0 0.25rem;
    }

    &__lenker {
        &__header {
            display: flex;
            justify-content: flex-start;
            flex-wrap: nowrap;
            width: 91%;
            padding: 1rem;
            font-weight: bold;
        }

        &__rad {
            display: flex;
            justify-content: flex-start;
            flex-wrap: nowrap;
            width: 95%;
        }

        &__deltaker {
            width: 30%;
        }

        &__bedrift {
            width: 30%;
        }

        &__opprettet {
            width: 17%;
        }

        &__status {
            width: 23%;
        }
    }

    @media (min-width: @screen-sm-min) {
        margin: 0 auto;
        max-width: @screen-sm-min;
    }
}
