@import '~nav-frontend-core/less/_variabler';
.avtaleoversikt {
    display: flex;
    flex-direction: column;

    .alertstripe .alertstripe__tekst {
        max-width: 800px;
    }

    &__ingen_avtaler {
        text-align: center;
        font-style: italic;
    }

    &__topp {
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;

        &__tittel {
            margin-bottom: 1rem;
        }

        &__knapp {
            margin-top: 2rem;
        }
    }

    &__informasjonsBanner {
        margin: 2rem 0;

        p {
            // margin-top: 0.5rem;
            // margin-bottom: 0.25rem;
        }
    }

    &__lenker {
        margin: 0 0.25rem;
    }

    &__lenker {
        &__header {
            padding: 1rem;
            font-weight: bold;
        }

        &__rad {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: nowrap;
            width: 95%;
        }

        &__deltaker {
            width: 11rem;
            padding-right: 1rem;
        }

        &__bedrift {
            width: 11rem;
            padding-right: 1rem;
        }

        &__opprettet {
            width: 8rem;
        }

        &__status {
        }

        &__statusikon {
            padding-right: 1rem;
        }
    }

    @media (min-width: @screen-sm-min) {
        margin: 0 auto;
        max-width: @screen-sm-min;
    }
}
