@import '~nav-frontend-core/less/_variabler';

.avtaleside {
    min-height: 100%;
    background-color: @grayBackground;
    padding-left: 1rem;
    padding-right: 1rem;

    &__desktop {
        margin-top: 1rem;
    }

    &__ekspanderbart-panel {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    &__banner {
        margin-bottom: 1rem;
    }

    &__lenkerlinje {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    .tilbaketiloversikt {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .lenkedeling {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    &__infoboks {
        @media print {
            display: none;
        }
    }

    &__varsel {
        margin-bottom: 1rem;
    }

    &__svak {
        font-style: italic;
        color: @navGra60;
    }
}

@media (min-width: @screen-sm-min) {
    .avtaleside {
        display: flex;
        flex-direction: row;
        justify-content: center;

        &__desktop {
            display: flex;
            flex-direction: column;
        }

        &__innhold {
            width: 40rem;
            margin-left: 1rem;
        }

        &__container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
        }
        &__avbrytOgDelLenk {
            display: flex;
            align-items: center;
        }
    }
}
