@import '~nav-frontend-core/less/_variabler';

.avtaleoversikt {
    display: flex;
    flex-direction: column;

    &__banner {
        width: 100%;
    }

    &__natur-logo {
        margin: 2.5rem 0 1.5rem 0;
        display: flex;
        align-items: center;
        flex-direction: column;

        .avtaleoversikt__natur-header {
            margin-top: 1rem;
        }

        .avtaleoversikt__natur-tekst {
            text-align: center;
            margin-top: 1rem;
            width: 90%;
        }
    }

    &__ingen_avtaler {
        text-align: center;
    }

    &__topp {
        margin: 2rem 0 3rem 0;
        
        &__knapp_med_avtaler {
            display: flex;
            justify-content: center;
            margin-top: 3rem;
            margin-bottom: 3rem;
        }

        &__knapp_uten_avtaler {
            display: flex;
            justify-content: center;
            margin-top: 4rem;
        }
    }

    &__lenker {
        margin: 0 0.25rem;
    }

    &__lenker {
        &__header {
            padding: 1rem;
            font-weight: bold;
        }

        &__rad {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: nowrap;
            width: 95%;
        }

        &__deltaker {
            width: 11rem;
            padding-right: 1rem;
        }

        &__bedrift {
            width: 11rem;
            padding-right: 1rem;
        }

        &__opprettet {
            width: 8rem;
        }

        &__statusikon {
            padding-right: 1rem;
        }
    }

    @media (min-width: @screen-sm-min) {
        margin: 0 auto;
        max-width: @screen-sm-min;

        &__natur-logo {
            margin: 2.5rem 0 1.5rem 0;
            display: flex;
            align-items: center;
            flex-direction: column;

            .avtaleoversikt__natur-header {
                margin-top: 3rem;
            }
    
            .avtaleoversikt__natur-tekst {
                margin-top: 1rem;
                text-align: center;
            }
        }
    }
}
