@import (reference) '../../tiltak_variabler.less';

.veilederpanel-med-ikon {
    margin-bottom: 1rem;
    .nav-veilederpanel {
        border-color: @navBlaLighten60;
    }

    .nav-veileder__frame {
        align-items: center;
        background-color: @navBlaLighten60;
    }
}
