@import '~nav-frontend-core/less/_variabler';

.utfyllerBanner {
    display: flex;
    align-items: center;
    height: 2.5rem;
    border-radius: 4px 4px 0 0;

    &__arbeidsgiver {
        background-color: @navBlaLighten80;
    }

    &__veileder {
        background-color: @navLillaLighten80;
    }

    &__begge {
        background-color: #c6c1be;
    }

    &__fyllesUtAvTekst {
        padding-left: 1rem;
    }

    &__utfyllingsIkon {
        margin-left: 2rem;
    }
}
