@import '~nav-frontend-core/less/_variabler';

.tilretteleggingsteg__tittel {
    display: none;
    :first-child {
        // hjelpetekst ikon
        top: 0.25rem;
      }
}

@media (min-width: @screen-sm-min) {
  .tilretteleggingsteg__tittel {
      display: block;
      margin-bottom: 3rem;
  }
}
