.varighetsteg {
    &__ingress {
        margin-bottom: 1rem;
    }

    &__rad {
        margin-bottom: 2rem;
    }

    &__info-arena-opprydding-alert &__Stillingsprosent-input-container,
    &__lagre-knapp {
        margin: 1rem 0;
    }

    &__info-arena-opprydding-avsnitt {
        &:nth-child(odd) {
            margin-bottom: 1rem;
        }
    }

    &__sommerjobb-deltaker-over30-alert {
        margin-top: 1rem;
    }

    &__er-arbeidsgiver-ufordelt,
    &__er-arbeidsgiver-ikke-ufordelt {
        margin-top: 1rem;
    }

    &__input-container {
        margin-top: 1rem;
        width: 35%;
    }
}
