@import (reference) "../../../tiltak_variabler.less";

.beregningTilskuddSteg {

  &__valuta-input {
    width: 50%;
    & > .input {
      margin-top: 1rem;
    }
  }

  &__alert {
    margin-top: 1rem;
  }

  &__tilskuddsprosent-heading, &__tilskuddsprosent {
    margin-bottom: 1.25rem;
  }

  &__rad {
    margin-bottom: 2rem;
  }

  &__tjenestepensjon, &__arbeidsgiveravgift {

    .navds-form-field {
      & > input, & > div {
        width: 55%;
      }
    }
  }

  &__lonn-tittel {
    padding-bottom: 0.5rem;
  }

  &__otpSats {
    position: relative;

    &--label {
      position: absolute;
      bottom: 0.675rem;
      left: 3rem;
    }
  }

  &__lonn-per-mnd-seksjon {
    &:nth-child(n) {
      margin-bottom: 0.5rem;

      & > ul {
        margin: 0.5rem 0;
      }
    }
  }
}


