.beregningTilskuddSteg {
    &__luft {
        padding: 0.5rem 0;
    }
    &__lonn-tittel {
        padding-bottom: 0.5rem;
    }

    &__relasjon-hjelpetekst {
        border: 1px solid #c6c2bf;
        border-radius: 3px;
        padding: 1rem;
    }
    &__familietilknytning-valg {
        display: flex;

        label {
            flex-grow: 1;
            margin-right: 0.5rem;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
