.beregningTilskuddSteg {
    &__rad {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;
    }
    &__tittel {
        display: flex;
        align-items: center;
    }
    &__ikon {
        margin-right: 1rem;
    }
}
