.utregningspanel {
    td svg {
        font-size: 1.2rem;
    }

    tr:last-child > td {
        border-bottom: none;
    }
}

.fet-border-bottom > td {
    border-bottom: 1px solid var(--ax-border-neutral-strong);
}

.fet-skrift td {
    font-weight: bold;
}

.col-icon {
    width: 32px;
    max-width: 32px;

    svg {
        font-size: 1.5rem;
    }
}

.label-cell {
    overflow-wrap: anywhere;
}

.operator-cell {
    width: 30px;
    max-width: 30px;
}

.verdi-cell {
    padding-left: 0;
    white-space: nowrap;
    width: 1%;
}
