@import '~nav-frontend-core/less/_variabler';

.visUtregningenPanelMobil {
    &__rad {
        display: flex;
        justify-content: space-between;
        align-items: center;

        flex-direction: row;
        width: 100%;
        border-bottom: 1px solid @navGra20;

        padding: 1rem 0 1rem 0;
        margin: auto;
        &__siste {
            border-bottom: 1px solid;
        }

        &__oppsummering {
            border-bottom: none;
        }
    }

    &__tittel {
        /*display: flex;
        align-items: center;*/
    }

    &__orienter {
        //margin-right: 4rem;

        &__sum {
            margin-right: 0 !important;

            &__tittel {
                margin-left: 2.5rem;
            }
        }
    }
    &__column {
        &__siste {
            display: flex;
            justify-content: flex-end;
        }
    }
    &__orienter__left {
        margin-left: 0rem;
    }
}
