@import 'node_modules/nav-frontend-core/less/_variabler';

.ingenAvtalerArbeidsgiver {
    &__headerIkon {
        margin-top: 0.25rem;
        margin-right: 0.5rem;
    }

    &__headerContainer {
        margin-bottom: 3rem;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
    }

    &__rolleinfo {
        margin-top: 2rem;
    }

    @media (min-width: @screen-sm-min) {
        // Desktop only
        &__container {
            padding: 0 3rem 3rem 3rem;
        }
    }
}
