.endreTilskuddsBeregning {

    &__lenke {
        display: flex;
        align-items: center;
    }
    &__ikon {
        margin-right: 0.5rem;
    }

    &__radioPanel-tittel {
        margin-bottom: 0.5rem;
        padding: 0.5rem 0 0.25rem 0;
    }
    &__radioPanel {
        margin: 1.5rem 0;
    }

    .navds-form-field {
        width: calc(50% - 1rem);
    }  
}
