@import (reference) "../../tiltak_variabler.less";

.avtaleoversiktskeleton {
    &__spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10rem;
    }

}
table.avtaleoversiktskeleton {
    border-spacing: 0px 10px;
    border-collapse: separate;
    margin-top: -10px;

    td {
        border-bottom-width: 1px !important; // Overstyr design-css
        padding: 0;
        border: 0;
        background: transparent;
    }
}
