.ingress {
    margin-bottom: 1rem;
}

.info-rad {
    display: flex;
    flex-direction: column;
    gap: var(--ax-space-16);
    margin: 1rem 0;

    @media (min-width: 768px) {
        flex-flow: row wrap;
    }
}

.info-container {
    @media (min-width: 768px) {
        min-width: 15rem;
    }
}

.info-verdi {
    font-weight: 600;
}
