.kontorinfo {
    margin: 0 0.5rem 2.5rem 0.5rem;

    &__ingress {
        margin-bottom: 1rem;
        display: flex;
        align-items: center;

        &--oppsummering {
            border-bottom: 1px solid #c9c9c9;
            padding-bottom: 0.25rem;
        }
    }
    &__ikon {
        margin-right: 0.5rem;
    }
    &__info-rad {
        margin: 1rem 0;
    }
}
