.oppdatere-kostnadssted {
    margin-top: 1.5rem;

    &__input-wrapper {
        display: flex;
        input {
            margin-right: 1.25rem;
            margin-bottom: 0;
        }
        .skjemaelement {
            margin-bottom: 0;
        }
        .typo-ingress {
            // text-transform: lowercase;
        }
    }
    &__input-undertekst {
        margin-top: 0.75rem;
    }
}
