.oppdatere-kostnadssted {
    margin-top: 1.5rem;

    &__input-wrapper {
        display: flex;

      
        .skjemaelement {
            margin-bottom: 0;
        }
    }

    &__textField {
        margin-right: 1.25rem;
        margin-bottom: 0;
    }

    &__buttonDiv {
        margin-top: 1.75rem;
    }

    &__input-undertekst {
        margin-top: 0.75rem;

        span:nth-child(2) {
            font-weight: 600;
        }
    }
}
