@import (reference) '../../../../../tiltak_variabler.less';
.godkjenningspanel {
    background-color: @navOransjeLighten80;
    padding: 1rem;
    border-radius: 0.25rem;
    border-style: solid;
    border-color: @navOransjeDarken20;
    border-width: 1px;
}

.godkjenningspanel-checked {
    &:extend(.godkjenningspanel);
    background-color: @navGronnLighten80;
    border-color: @navGronnDarken20;
}
