.visueltDisabledInputFelt {
    width: 100%;
    
    &__tekstfelt {
      border: 0.03rem solid #6a6a6a;
      border-radius: 0.4rem;
      margin-top: 0.20rem;
      padding: 0.40rem;
      background-color: #f1f1f1;
      color: #262626;
      width:100%;
    }
  }