@import (reference) '../../tiltak_variabler.less';

.radio-block {
    background-color: @white;
    border: 1px solid @grayModia;
    border-radius: @border-radius-base;
    width: 100%;
    padding: 0 0 0 1rem;
    align-items: center;

    &:hover:not(.is-disabled) {
        border: 1px solid #0067c5;
        box-shadow: #a0a0a0 0 2px 1px 0;
        cursor: pointer;
    }

    &::after {
        padding: 2rem 1rem 1rem;
        inset: 0;
    }

    > label {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    @media (min-width: 768px) {
        flex-grow: 1;
    }
}

.checked {
    background-color: #cce1ff;
    border: 1px solid transparent;
}
