@import (reference) "../tiltak_variabler.less";
.avtaletabell {
    &__linkpanel {
        margin-bottom: 0.5rem;
    }

    .linkpanel.skjulIndikator span {
        display: none;
    }

    &__arbeidsgiver-tekst {
        margin-top: 2rem;
    }

    &__header {
        padding: 1rem;
        font-weight: bold;
        background-color: white;
        border: 1px solid @navGra40;
        border-radius: 0.25rem;
        margin-bottom: 1rem;
    }

    .ulest-varsel-ikon {
        background-color: #006eed;
        border: 3px solid @navGraBakgrunn;
        border-radius: 50%;
        color: #fff;
        height: 16px;
        width: 16px;
        position: absolute;
        left: -1.55rem;
    }

    .uthevet {
        font-weight: bold;
    }

    &__rad {
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        align-items: center;
        width: 100%;
    }

    &__status-rad {
        display: flex;
    }

    &__beslutter {
        &-veileder {
            min-width: 8rem;
            padding-right: 1rem;
        }

        &-deltakerOgBedrift {
            width: 10rem;
            margin-right: 1rem;
        }

        &-dato {
            min-width: 10rem;
        }

        &-status {
            width: 8rem;
        }
    }

    &__veileder {
        &-veileder {
            min-width: 8rem;
        }

        &-deltakerOgBedrift {
            width: 8.5rem;
            word-wrap: break-word;
        }

        &-dato {
            min-width: 6rem;
            &--arbeidsgiver-deltaker {
                min-width: 9.5rem;
            }
        }

        &-statusikon {
            width: 4rem;
        }

        &-status {
            width: 6rem;
        }
    }

}


