.avtaleoversikt {
    display: flex;
    flex-direction: column;
    align-items: center;

    > * {
        margin-top: 3rem;
    }

    &__filter-og-tabell {
        align-self: stretch;

        display: flex;
        flex-direction: column;
    }

    &__arbeidsgiver-informasjon {
        border: 0.1rem solid #c6c2bf;
        border-radius: 0.5rem;
        margin-top: 1rem;
        background-color: white;

        &-nytt-avsnitt {
            margin-top: 1rem;
        }
    }
}

.avtaleoversikt-pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
}
