@import '~nav-frontend-core/less/_variabler';
.avtalekortMobil {
    padding: 1.5rem 1rem 1.5rem 2rem;

    &__ulest-varsel-ikon {
        background-color: #006eed;
        border: 3px solid @grayBackground;
        border-radius: 50%;
        color: #fff;
        height: 20px;
        width: 20px;
        position: absolute;
        left: -0.60rem;
    } 

    &__ulest-varsel-border {
        display: inline-block;
        background-clip: border-box;
        background-image: linear-gradient(#54a3ff, #006eed);
        border: 2px solid @grayBackground;
        height: 55px;
        width: 1rem;
    }

    &__status {
        margin-top: 1rem;
        display: flex;
    }

    &__statustekst {
        margin-left: 0.5rem;
    }

    &__lenke {
        text-decoration: none;
    }
}


