@import '~nav-frontend-core/less/_variabler';
.soketteravtaler {
    &__sokeboks {
        padding: 2rem;
        // width: 20rem;
        height: 16rem;
        margin-top: 3.2rem;
        margin-right: 2rem;
        margin-bottom: 2rem;
        flex-shrink: 0;
        margin: 4.2rem 1rem 1rem 1rem;
    }
    &__sokelinje {
        display: flex;
        align-items: baseline;
    }
    &__sokefelt {
        margin-right: 0.5rem;
    }
    &__sokeradio {
        display: flex;
        margin-top: 1rem;
    }
    &__deltakerradio {
        margin-right: 1rem;
    }
}
