@import '~nav-frontend-core/less/_variabler';
.soketteravtaler {
    &__sokeboks {
        width: 20rem;
        height: 16rem;
        margin-top: 3.3rem;
    }
    &__sokelinje {
        display: flex;
        align-items: baseline;
    }
    &__sokefelt {
        margin-right: 0.5rem;
    }
    &__sokeradio {
        display: flex;
        margin-top: 1rem;
    }
    &__deltakerradio {
        margin-right: 1rem;
    }
}
