@import '~nav-frontend-core/less/_variabler';
.soketteravtaler {
    &__sokeboks {
        padding: 2rem;
        height: 15rem;
        flex-shrink: 0;
        margin: 3.1rem 0rem 2rem 0rem;
    }

    &__sokelinje {
        display: flex;
        align-items: baseline;
    }

    &__sokefelt {
        margin-right: 0.5rem;
    }

    &__sokeradio {
        display: flex;
        margin-top: 1rem;
    }

    &__deltakerradio {
        margin-right: 1rem;
    }
}
