@import '~nav-frontend-core/less/_variabler';

.varsel {
    .alertstripe__tekst {
        max-width: inherit;
    }

    &__innhold {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 30rem;

        &__lukknapp {
            margin: -0.3rem -0.3rem -0.3rem 0.7rem;
            border: 0.15rem solid black;
            padding: 0rem;
        }
    }
}
