@import '~nav-frontend-core/less/_variabler';

.godkjennPaVegneAv {
    margin: 1rem 0;

    &__grunn {
        margin-left: 1.5rem;
    }
    &__deltakerInformert {
        margin-top: 2rem;
    }
}
