.informasjonsside {
    display: flex;
    justify-content: center;

    &__container {
        width: 740px;
    }

    &__eksterntLenkeikon {
        display: inline-block;
        margin-left: 0.3rem;
    }

    .tilbaketiloversikt {
        margin: 1rem 0 1rem 0;
    }

    &__innhold {
        background-color: white;
        padding: 1rem 1rem 1rem 1.5rem;
        border-radius: 4px;
    }

    &__ClipboardIkon {
        display: none;
    }

    &__SubIkon {
        display: none;
    }

    &__innholdstittel {
        padding-top: 0.5rem;
        display: flex;
        justify-content: left;
    }

    &__ingress {
        padding: 1rem 0 2rem 0rem;
        border-bottom: 1px solid #c6c2bf;
    }

    &__info {
        margin: 2rem 0rem 2rem -1rem;
    }

    &__lenke {
        margin-top: 0.5rem;
        display: block;
    }

    //  Spesielt for desktop:
    @media (min-width: 765px) {
        .tilbaketiloversikt {
            margin: 4rem 0 1rem 0;
        }

        &__ingress {
            padding: 1rem 1rem 3rem 1rem;
            border-bottom: none;
        }

        &__ClipboardIkon {
            display: flex;
            justify-content: center;
            width: 100%;
            z-index: 5;
            margin-top: -4.7rem;
        }

        &__SubIkon {
            display: flex;
        }

        &__innholdstittel {
            padding: 2rem 0;
            display: flex;
            justify-content: center;
        }

        &__innhold {
            background-color: white;
            padding: 2rem;
            margin-bottom: 2rem;
            border-radius: 4px;
        }

        &__info {
            margin: 1rem 1rem 3rem 1rem;
        }
    }
}
