.arbeidstidsteg {
    &__tittel {
        margin-bottom: 1.5rem;
    }

    &__datovelger {
        width: 10rem;
        margin-bottom: 2rem;
    }

    &__lagre-knapp {
        margin-top: 1rem;
    }
}
