@import '~nav-frontend-core/less/_variabler';

.beslutter-side {
    background-color: white;
    border-radius: 4px;
    padding: 1.25rem;
    margin-bottom: 0.25rem;

    &__innhold {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__head-wrapper, &__avtale-wrapper {
        width: 100%;
        max-width: @container-desktop;
    }

    &__avtale-wrapper {
        margin-bottom: 4rem;
    }

    &__hoved-tittel {
     margin: 1rem 0;
    }

    &__tittel {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        max-width: 95%;
    }

    &__grid-container {
        display: flex;
        grid-gap: 7rem;
    }

    &__infovisning-rad {
        display: flex;
        align-items: center;
        margin: 1rem 0;

        & > p:nth-child(1) {
            min-width: 9rem;
        }
        & > p:nth-child(2) {
            min-width: 8rem;
        }
    }

    &__wrapper {
        max-width: @container-desktop;
        width: 100%;
        margin: 0 0.5rem;
    }

    &__fade {
        opacity: 0.3;
    }

    @media(min-width: @container-large-desktop) {
        &__infovisning-rad {
            flex-direction: row;
        }

        &__tittel {
            margin-bottom: 0;
        }
    }
}
