@import (reference) "../tiltak_variabler.less";

.beslutter-side {
    background-color: white;
    border-radius: 4px;
    padding: 1.25rem;
    margin-bottom: 0.25rem;

    &__innhold {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__head-wrapper, &__avtale-wrapper, &__avtale-versjon-wrapper {
        width: 100%;
        max-width: @container-desktop;
    }

    &__avtale-wrapper, &__avtale-versjon-wrapper {
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
    }

    &__avtale-wrapper {
        >.accordion {
            border: none;
        }
        &:last-child {
            margin-bottom: 4rem;
        }
        margin-bottom: 1rem;
    }

    &__avtale-versjon-wrapper {
        margin-bottom: 4rem;
    }

    &__hoved-tittel {
     margin: 1rem 0;
    }

    &__wrapper {
        max-width: @container-desktop;
        width: 100%;
        margin: 0 0.5rem;
    }

    &__fade {
        opacity: 0.3;
    }

    @media(min-width: @container-tablet) {}
}
