@import (reference) '../../tiltak_variabler.less';

.layout {
    --banner-innhold-max-width: 73rem;
    --banner-innhold-side-padding: 0.5rem;
}

.opprett-avtale-arbeidsgiver {
    margin: 1rem auto;
    width: 100%;
    max-width: 72rem;
    box-sizing: border-box;

    > * {
        margin-top: 1rem;
    }
}

.hvemSkalInngaAvtaleInput {
    max-width: 33rem;
}

.knappRad {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tiltakstypeSelect {
    max-width: 33rem;
}
