@import (reference) '../../tiltak_variabler.less';

.opprett-avtale-arbeidsgiver {
    margin: 1rem auto;
    max-width: @screen-md-min;

    > * {
        margin-top: 1rem;
    }
}

.hvemSkalInngaAvtaleInput {
    max-width: 33rem;
}

.knappRad {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tiltakstypeSelect {
    max-width: 33rem;
}
