@import '~nav-frontend-core/less/_variabler';

.opprett-avtale-arbeidsgiver {
    margin: 0 auto;
    max-width: @screen-md-min;

    > * {
        margin-top: 2rem;
    }

    &__knappRad {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media (min-width: @screen-md-min) {
        &__tiltakstypeWrapper {
            display: flex;
            flex-direction: row;

            label {
                flex-grow: 1;
                margin-right: 0.5rem;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
