@import (reference) '../../tiltak_variabler.less';

.opprett-avtale-arbeidsgiver {
    margin: 0 auto;
    max-width: @screen-md-min;

    > * {
        margin-top: 2rem;
    }

    &__knappRad {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
