.tilskuddsPerioder {
    &__tabell {
        margin: 0.5rem 0 2rem 0;
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;

        .typo-normal,
        .typo-undertekst-bold {
            padding: 1rem 0;
            border-bottom: 1px solid #b7b1a9;
        }
    }
    &__tittel {
        margin: 3rem 0 0.5rem 0;
    }
}
