.horisontal-radio-gruppe {
  &__radio-gruppe {
    .navds-radio-buttons {
      display: flex;
      justify-content: space-between;

      .radio-panel {
        &:nth-child(odd), &:nth-child(even) {
          margin: 0 0.375rem;
        }
        &:first-child {
          margin: 0;
        }
      }
    }
  }
}