.endreStillingbeskrivelse {
    &__stillingstittel-wrapper {
        margin: 2rem 0;

        .stillingsTittelVelger {
            margin-top: 0.5rem;
        }
    }

    &__stilling-beskrivelse {
        margin-bottom: 2rem;
    }

    &__ikon {
        margin-right: 0.5rem;
    }

    &__lenke {
        display: flex;
        align-items: center;
    }

    &__stilling-input-wrapper {
        display: flex;
        justify-content: center;

        .navds-form-field {
            width: 80%;

            & > input {
                width: 90%;
            }
        }
    }
}
