.endreStillingbeskrivelse {
    display: flex;

    &__lenke {
        display: flex;
        align-items: center;
    }
    &__ikon {
        margin-right: 0.5rem;
    }

    @media (min-width: 768px) {
        display: flex;
        flex-direction: column;
        width: 30rem;
        height: 31rem;

        &__tittel {
            margin-top: 1rem;
        }

        &__inputfelt {
            display: flex;
            //width: 100%;
            flex: 10% 100%;
        }

        &__textareafelt {
            display: flex;
            flex: 100% 50%;
            flex-basis: auto;
            //width: 100%;
            //height: 90;
        }

        /*

        

        &__inputfelter {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            flex: 0 45%;
            &:nth-child(2) {
                margin-top: 1.5rem;
                margin-bottom: 1rem;
            }

            & > .skjemaelement {
                width: 45%;
                &:nth-child(1) {
                    margin-right: 0.5rem;
                }
            }
        }
        */
    }
}
