.inputRad {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.kostnadssted {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    & input {
        padding: 0 0.5rem;
        min-height: 2rem;
    }
}
