@import (reference) '../../tiltak_variabler.less';

.taushetserklæring {
    &__header {
        margin-bottom: 1rem;
    }

    @media (min-width: 768px) {
        &__modal .varsel__innhold {
            width: 100%;
        }
    }
    @media (min-width: 100px) and (max-width: 767px) {
        &__modal .varsel__innhold {
            width: 100%;
        }
    }
}
