@import (reference) "../tiltak_variabler.less";

.innloggingslinje {
    background-color: white;

    &__identitetogloggut {
        display: flex;
        align-items: center;
        margin-right: 0.5rem;

        &__identitet {
            padding-right: 1rem;
        }
    }

    &__navIkon {
        width: 3.75rem;
        height: 2.375rem;
    }

    .lenke {
        &:focus {
            background-color: white;
        }
        .innloggingslinje__navIkon {
            svg {
                width: 3.75rem;
                height: 2.375rem;
                fill: none;
                stroke: none;
            }
        }
    }

    &__innhold {
        margin: 0 auto;
        max-width: 73rem;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

    .ekspanderbartPanel__tittel {
        width: 100%;
    }

    &__mobileheader {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    &__brukernavn {
        padding-right: 1rem;
    }

    .ekspanderbartPanel {
        width: 100%;
    }

    @media print {
        display: none;
    }
}
