@import '~nav-frontend-core/less/_variabler';

.innloggingsside {
    align-items: center;
    flex-direction: column;
    display: flex;

    &__logginnKnapp {
        margin: 3rem 0rem 2rem 0rem;
    }

    &__infotekst {
        text-align: center;
    }

    &__lenke {
        margin-top: 2rem;
    }

    &__koffertikon {
        margin-top: 4rem;
        margin-bottom: 3rem;
    }
    &__loginKnapper {
        display: flex;
        justify-content: center;
        button {
            margin: 0rem 0.5rem 0 0.5rem;
        }
    }
}

.wrapper {
    min-height: 100vh;
    background: white;
}
