.StillingsSteg {
    &__stillingstype_radio {
        display: flex;

        label {
            flex-grow: 1;
            margin-right: 0.5rem;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
