.label {
    margin-bottom: 0.5rem;
}

.stilling-beskrivelse {
    margin-bottom: 1.75rem;
}

.stillingstype-radio,
.lonnstilskudd-formaal-radio {
    margin-bottom: 1.75rem;

    > :global(.navds-radio-buttons) {
        display: flex;
    }
}

.lagre-knapp {
    margin-top: 0.5rem;
}
