.StillingsSteg {
    &__stillingstype_radio > .navds-radio-buttons,
    &__arbeidstilknytning_radio > .navds-radio-buttons {
        display: flex;
    }

    &__label {
        margin-bottom: 0.5rem;
    }

    .stillingsTittelVelger,
    &__stilling-beskrivelse,
    &__arbeidstilknytning_radio,
    &__stillingstype_radio {
        margin-bottom: 1.75rem;
    }

    &__lagre-knapp {
        margin-top: 0.5rem;
    }
}
