
.stegoppsummering {
    margin-bottom: 2.5rem;

    &__header {
        display: flex;
        flex-direction: row;
        width: 100%;
        border-bottom: 1px solid #c9c9c9; //@navGra20;
        margin-bottom: 2rem;
        padding-bottom: 0.5rem;
    }
    svg {
        margin-right: 0.5rem;
    }
}
