.kontaktinfo {
  &__container {
    padding: 0.5rem 0.5rem 2rem 0.5rem;
  }

  &__skjemagruppe {
    margin-bottom: 0.5rem;
  }

  &__rad {
    display: flex;

    .navds-form-field {
      width: calc(50% - 1rem);

      &:nth-child(odd) {
        margin-right: 1rem;
      }
    }
  }
}
