@import '~nav-frontend-core/less/_variabler';

.opprett-oppgave {
    &__tittel {
        margin-bottom: 2rem;
    }

    &__beskrivelse {
        margin-bottom: 2rem;
    }

    &__knapp {
        margin-bottom: 0.5rem;
        white-space: unset;
    }
}
