.stegmenylenke {
    display: flex;
    align-items: center;
    height: 4rem;
    width: 18rem;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    border-radius: 4px;
    background-color: white;
    color: black;
    font-size: 1.15rem;
    font-weight: bold;
    text-decoration: none;

    &__label {
        padding-left: 1rem;
    }

    &.stegmenylenke:focus {
        border: 0.2rem solid #002752;
    }

    &.aktiv {
        background-color: #005b82;
        color:white;
    }
}
.hidden {
    display: none;
}
