.tilbaketiloversikt {
    &__lenke {
        display: flex;
        margin-bottom: 1.5rem;
    }

    &__chevron {
        margin-right: 0.25rem;
        margin-bottom: 0.1rem;
    }

    @media print {
        display: none;
    }
}
