.sendtilbake {
    margin-right: 1.5rem;
    &__ikon {
        display: inline-block;
        margin-right: 0.45rem;
        margin-bottom: -0.1rem;
    }
    &__lenke {
        display: flex;
        align-items: center;
    }
    @media print {
        display: none;
    }
}
