@import (reference) '../../tiltak_variabler.less';

.innholdsboks {
    margin-bottom: 0.25rem;
    background-color: white;
    border-radius: 4px;

    &:last-child {
        margin-bottom: 0;
    }

    &__innhold {
        padding: 2rem;

        @media (max-width: @screen-sm-max) {
            padding: 2rem 0.75rem;
        }

        @media (max-width: @screen-xs-max) {
            padding: 1rem 0.5rem;
        }
    }
}
