@import (reference) '../../tiltak_variabler.less';

.les-mer-panel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    &__toggler {
        order: 2;

        &--åpen {
            margin-top: 0.75rem;
        }
    }

    &__innhold {
        order: 1;
        margin-top: 0.25rem;
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 300ms;
        overflow: hidden;

        > * {
            min-height: 0;
        }

        &[aria-expanded='true'] {
            grid-template-rows: 1fr;
        }
    }
}
