.godkjenn-alleredeOpprettet {

  &__spinner {
    position: fixed;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    opacity: 0.75;
  }

  &__knapp-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    & > button:nth-child(1) {
      margin-right: 0.5rem;
    }
  }
}