@import (reference) '../../tiltak_variabler.less';

.varsellogg {
    &__spinner {
        left: 50%;
    }
    &__burger-ikon {
        margin-right: 0.5rem;
    }

    @media (min-width: @screen-sm-min) {
        // Desktop only
        &__modal {
            max-width: calc(100% - 2em);
            width: 60rem;
            padding: 2rem;
        }
    }
}
