.instruks {
    &__subheader {
        padding: 0 0 0 1.25rem;
    }
    &__instrukslist {
        margin-top: 1rem;
        margin-left: 1.25rem;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__instrukslistsvg {
        margin-right: 0.75rem;
    }
    @media print {
        display: none;
    }
}
.deltakerinstruks {
    @media print {
        display: none;
    }
}
