@import '~nav-frontend-core/less/_variabler';

.varsel-modal {
    &__modal {
        overflow: visible;
        padding: 2rem;
    }

    &__hendelse-ikon {
        margin-right: 0.5rem;
    }

    @media (min-width: @screen-sm-min) {
        // Desktop only
        &__modal {
            max-width: 60rem;
            width: 50rem;
        }
    }
    @media (max-width: @screen-sm-min) {
        // Mobil only
    }
}
