.oppgaveOppsummering {
    padding-left: 6px;
    border-left: 2px solid lightgrey;
    margin: 1.5rem 0 2.5rem 0;

    &__oppgave-tittel {
        margin-bottom: 0.5rem;
    }

    &__label {
        padding-bottom: 0.25rem;
    }

    &__etikettInfo {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
