@import (reference) "../../../../tiltak_variabler.less";

.infoboks {
    border: 3px solid @navBlaLighten80;
    border-radius: 4px;
    padding: 1.5rem 1.5rem 1.5rem;
    margin-bottom: 1rem;
    display: flex;

    &__bold {
        font-weight: bold;
    }

    &__tekst {
        margin-left: 1.5rem;
    }
}
