.overtaavtalen {
    height: 100%;
    margin-bottom: 1rem;

    &__link {
        display: flex;
        flex-direction: row;
        align-content: center;
    }
    &__ikon {
        margin-top: 0.125rem;
        margin-right: 0.5rem;
    }
}
