@import '~nav-frontend-core/less/_variabler';

.skjema-tittel {
    padding-bottom: 1rem;
}
.skjema-tittel .hjelpetekst {
    top: 0.25rem;
}
@media (min-width: @screen-sm-min) {
    .skjema-tittel {
        padding-bottom: 1.5rem;
    }
}
