@import (reference) '../../tiltak_variabler.less';

.skjema-tittel {
    margin-bottom: 1rem;
}
.skjema-tittel .hjelpetekst {
    top: 0.25rem;
}
@media (min-width: @screen-sm-min) {
    .skjema-tittel {
        margin-bottom: 1.25rem;
    }
}
