@import '~nav-frontend-core/less/_variabler';

.opprett-avtale {
  background-color: @grayBackground;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;

  &__tittel {
    text-align: center;
    margin-bottom: 2rem;
  }

  .nav-veilederpanel {
    margin-bottom: 1rem;
  }

  &__du-trenger-tekst {
    font-weight: bold;
  }

  .ekspanderbartPanel {
    margin-bottom: 1rem;
  }

  &__knapp {
    width: 14rem;
    margin-top: 1rem;
    align-self: center;
  }
}

@media (min-width: @screen-sm-min) {
  .opprett-avtale {
    margin: 0 auto;
    max-width: @screen-sm-min;

    .ekspanderbartPanel {
      margin-bottom: 2rem;
    }

    &__input-wrapper {
      display: flex;
      flex-direction: row;
    }
    &__input-wrapper-rad2 {
      display: flex;
      justify-content: flex-end;
    }

    &__kandidat-fnr {
      width: 100%;
      margin-right: 0.5rem;
    }

    &__arbeidsgiver-fnr {
      width: 100%;
      margin-left: 0.5rem;
    }

    &__arbeidsgiver-bedriftNr {
      width: 50% - 1rem;
      font-weight: 600;
    }

    &__knapp {
      margin-top: 2rem;
    }
  }
}