
.panel-focus-mixin() {
    &:focus,
    &--focus {
        box-shadow: 0 0 0 3px #00347d; //@fokusFarge;
        outline: none;
    }
}

.knapp-med-ikon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    background-color: white;
    .panel-focus-mixin();

    &__label {
        color: #0067c5; //@navBla;
        margin-left: 5px;
    }
    &__backgroundColor {
        background-color: unset;
        color: #0067c5 //@navBla;
    }

    &:hover {
        cursor: pointer;
        border: solid 1px #0067c5; //@navBla;
    }

    &:focus {
        border: solid 1px #0067c5; //@navBla;
    }
}
