@import '~nav-frontend-core/less/_variabler';

.avtalestatus {
    display: flex;

    &__innholdsboks {
        margin-bottom: 0.5rem;
    }

    &__hovedIkon {
        display: flex;
        justify-content: center;
        margin-top: -3.5rem;

        &__justerStorrelse {
            width: 3.125rem;
            height: 3.125rem;
        }
    }

    &__parterIkon {
        margin-bottom: 1rem;
    }

    &__header {
        margin-top: 1rem !important;
        margin-bottom: 1rem;
    }

    &__infotekst {
        border-bottom: 1px solid #c6c2bf;
    }

    &__andreParter {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;

        &__ikon {
            margin-left: 2rem;
        }
        &__begge {
            display: flex;
        }
    }
}
