@import '~nav-frontend-core/less/_variabler';

.laasoppknapp {
    &__modal-nb-tekst {
        margin: 1rem 0;
        display: flex;
        svg {
            margin-right: 0.5rem;
        }
    }
    &__modal-footer-tekst {
        margin-bottom: 1.25rem;
    }
    &__lenke {
        display: flex;
    }
    &__ikon {
        margin-right: 0.5rem;
    }
}
