@import (reference) "../../tiltak_variabler.less";

.kort-knapper {
    display: flex;
    justify-content: flex-start;
    padding-top: 0.5rem;
    border-top: 1px solid @navGra20;
}

.kort-knapper button {
    margin-right: 1rem;
}
