@import '~nav-frontend-lenker-style';
// Importerer spesifikke less filer som inneholder CSS regler som har lavere prioritet enn NAVs frontendbibliotek.
// Gjør man ikke dette vil våres egne CSS regler bli overskrevet av NAVs frontendbibliotek.
// Trenger ikke importere less filer som ikke blir overskrevet.
@import 'AvtaleSide/steg/MaalSteg/OpprettMaal/OpprettMaal.less';
@import 'AvtaleSide/steg/MaalSteg/MaalKort/MaalKort.less';
@import 'AvtaleSide/steg/MaalSteg/RedigerMaal/RedigerMaal.less';
@import 'komponenter/KnappMedIkon/KnappMedIkon.less';
@import 'AvtaleSide/steg/GodkjenningSteg/Oppsummering/Stegoppsummering/Stegoppsummering.less';
@import 'AvtaleSide/steg/GodkjenningSteg/Oppsummering/Avtaleparter/Avtaleparter.less';
@import 'AvtaleOversikt/AvtaleOversikt.less';


body {
    font-size: 1rem;
}


body,
body .tiltaksgjennomforing {
    background-color: @navGraBakgrunn;
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

svg {
    display: block;
}

.bedriftsmeny {
    background-color: @navBlaLighten80 !important;
    border-bottom: 0.25rem solid @navBlaLighten60 !important;
    padding: 1.5rem;
}
