.mål {
    &__label {
        padding-top: 1rem;
        padding-bottom: 0.25rem;
    }

    &__ikkeSatt {
        /* blir kun rendret av IE. erstattning for fit-content som ikke støttes */
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            display: inline-block;
        }

        background-color: #ffe5c2;
        width: -moz-fit-content;
        width: fit-content;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 3px;
        text-align: center;
        border: 1px solid black;
    }
}
