.mål {
    &__label {
        padding-top: 1rem;
        padding-bottom: 0.25rem;
    }

    &__ikkeSatt {
        background-color: #ffe5c2;
        width: 20%;
        padding: 0.1rem 0.5rem;
        border-radius: 4px;
    }
}
