.endreOmMentorLenke {
    display: flex;
    align-items: center;
}

.endreOmMentorTekst {
    margin-right: 0.5rem;
}

.limitMaxWidth {
    max-width: 13.2rem;
    grid-column: span 2;
}

.span2 {
    grid-column: span 2;
}
