.endre-om-mentor-lenke {
    display: flex;
    align-items: center;
}

.endre-om-mentor-tekst {
    margin-right: 0.5rem;
}

.limit-max-width {
    max-width: 13.2rem;
    grid-column: span 2;
}

.span-2 {
    grid-column: span 2;
}
