.lagre-og-avbryt-knapp {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    display: flex;
    max-width: max-content;
    justify-content: center;

    & > button:nth-child(1) {
      margin-right: 0.5rem;
    }
  }
  &__alert {
    margin: 1rem 0;
  }
}