.godkjenningsrad {
    &__status {
        float: right;
    }
    &__godkjenningIkon {
        display: inline-block;
        margin-left: 1rem;
        vertical-align: bottom;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}
