@import '~nav-frontend-core/less/_variabler';
.avtaleoversiktskeleton {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem;
    //max-width: @screen-md;

    &__header {
        padding: 1rem;
        font-weight: bold;
    }

    &__rad {
        margin: 0 0.25rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        width: 95%;
        position: relative;
    }

    &__deltakerOgBedrift {
        width: 14rem;
        padding-right: 1rem;
    }

    &__veileder {
        width: 6rem;
        padding-right: 1rem;
    }

    &__opprettet {
        width: 7rem;
    }

    &__skeletonrader {
        max-width: 900px;
        display: flex;
        flex-wrap: wrap;

        > span {
            margin-bottom: 1rem;
        }
    }

    &__spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20rem;
    }
}
