@import '~nav-frontend-core/less/_variabler';
.avtaleoversiktskeleton {
    &__spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10rem;
    }
}
