.bruker-dialog {
  @media(min-width:992px){
    margin-left: 0.5rem;
    margin-top: 15.3rem; 
  }


  &__container {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .16);
    padding: 0.75rem;
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin: 0.5rem 0;
    border: none;
    transform: rotateX(0deg);
    overflow: hidden;

    &:hover {
      background-color: #ffd799;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    align-content: center;
  }

  &__illustrasjon {
    display: flex;
    align-content: center;
    margin-bottom: 0.375rem;
    justify-content: center;
  }

  &__tittel {
    display: flex;
    align-items: center;
    padding: 0 1rem 0 0.75rem;
  }

  &__tittel-lenke {
    font-weight: 600;
    text-decoration: underline;
    color: #262626;
    margin: 0;
    font-family: "Source Sans Pro",Arial,sans-serif;
    flex-direction: column;
    align-items: flex-start;
  }

  &:hover {
    .chat {
      &__sirkler-bakgrunn {
        color: #262626;
      }

      &__venstre-sirkel {
        transform: matrix(1, 0, 0, 1, 14.566, 47.746);
      }

      &__hoyre-sirkel {
        transform: matrix(1, 0, 0, 1, 81.934, -18.177);
      }

      &__chat-venstre {
        transform: matrix(1, 0, 0, 1, 12.349, 29.349);
      }

      &__chat-hoyre {
        transform: matrix(1, 0, 0, 1, 44.35, 10.551);
      }
    }

    .bruker-dialog__tittel-lenke {
      text-decoration: none;
    }
  }
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
