.inkluderingstilskudd {
  &__kostnadsoverslag-container {
    display: flex;
    justify-content: flex-end;
    margin: 2rem 0.5rem 0 0;
  }

  &__kostnadsoverslag {
    margin-top: 0.75rem;
    width: 10rem;
  }
}