.godkjenning {
    .innholdsboks__innhold {
        display: flex;
        flex-direction: column;
    }

    .ekspanderbartPanel {
        margin-top: 1rem;
    }

    .veilederpanel-med-ikon {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .bekreftCheckboksPanel {
        margin: 1.5rem 0;

        &:not(:last-of-type) {
            margin-bottom: 0;
        }
    }

    &__lagreKnapp {
        width: 100%;
    }

    @media print {
        display: none;
    }
}
