.kid-og-kontonummer {
    .kid-og-kontonummer-label {
        display: flex;
        margin-bottom: 1rem;
        gap: 0.5rem;
        align-items: center;
    }

    .kontonummer,
    .kid {
        margin-bottom: 1.5rem;
    }

    .kontonummer-input {
        margin-bottom: 1rem;
    }

    .kontonummer-input > input,
    .kid-input > input,
    .hent-kontonummer-knapp {
        width: 16rem;
        max-width: 100%;
    }
}
