@import '~nav-frontend-core/less/_variabler';

.oppfolgingsteg {
    &__lagre-knapp {
        margin-top: 1rem;
    }
}
.begge {
    &__tekst {
        margin-top: 1rem;
    }
}

@media (min-width: @screen-sm-min) {
    .begge {
        &__tekst {
            height: 132px !important;
        }
    }
    .oppfolgingsteg {
        &__lagre-knapp {
            margin-top: 1rem;
        }
    }
}
