@import (reference) "../../tiltak_variabler.less";

.banner {
    height: 7rem;
    background-color: @navBlaLighten80;
    border-bottom: 4px solid @navBlaLighten60;
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.banner-veileder-container {
    display: flex;
    justify-content: center;
}

.banner-veileder {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    max-width: 72rem;
    width: 100%;
    align-items: center;
}
