name: Bygg og deploy storybook

on:
  push:
    branches:
      - 'master'
  workflow_dispatch:

jobs:
  build:
    permissions:
      contents: read
      id-token: write
    name: Bygg og deploy
    runs-on: ubuntu-latest
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}
    steps:
      - name: Sjekk ut kode
        uses: actions/checkout@v4
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: "latest"
      - name: Setup node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          registry-url: https://npm.pkg.github.com/
          cache: pnpm
          cache-dependency-path: pnpm-lock.yaml
      - name: Frontend pnpm install
        run: pnpm install --frozen-lockfile --prefer-offline
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
        shell: bash
      - name: Frontend - test, lint og build
        run: pnpm run build-storybook
      - name: Push docker image to GAR
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          team: arbeidsgiver
          image_suffix: storybook
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          dockerfile: StorybookDockerfile

  deploy-dev:
    name: Deploy til dev-gcp
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Sjekk ut kode
        uses: actions/checkout@v4
      - name: Deploy til dev-gcp
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: nais/nais-dev-gcp-storybook.yaml
          VAR: image=${{ needs.build.outputs.image }}
